@font-face {font-family: "Consolas";
    src: url("http://db.onlinewebfonts.com/t/1db29588408eadbd4406aae9238555eb.eot");
    src: url("http://db.onlinewebfonts.com/t/1db29588408eadbd4406aae9238555eb.eot?#iefix") format("embedded-opentype"),
    url("http://db.onlinewebfonts.com/t/1db29588408eadbd4406aae9238555eb.woff2") format("woff2"),
    url("http://db.onlinewebfonts.com/t/1db29588408eadbd4406aae9238555eb.woff") format("woff"),
    url("http://db.onlinewebfonts.com/t/1db29588408eadbd4406aae9238555eb.ttf") format("truetype"),
    url("http://db.onlinewebfonts.com/t/1db29588408eadbd4406aae9238555eb.svg#Consolas") format("svg");
}
@font-face {
    font-family: "Edwardian Script ITC";
    src: url("fonts/EdwardianScriptITC.ttf");
}
body {
    font-family: Consolas;
    color: #0094ff
}
p::first-letter {
    font-family: "Edwardian Script ITC";
    font-size: 200%
}
p::first-line {
    font-weight: bold
}
