ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

a {
    text-decoration: none;
    color: black
}

li:hover a {
    text-decoration: underline
}

ul li ul li a{
    display: none;
	color: gray;
}

ul li:hover ul li a{
    display: block;
    margin: 2px 2px 2px 7px;
	text-decoration: none
}